footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #383939;
    height: auto;
    flex-direction: row;
}

footer p {
    font-family: inter;
    font-size: 1em;
    color: #fffedb;
    padding: 10px;
    margin: 0;
}

.whatsapp {
    display: flex;
    align-items: center;
}

.whatsapp a {
    text-decoration: none;
    font-family: inter;
    font-size: 1em;
    color: #fffedb;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    /* Adiciona uma transição para a escala */
}

.whatsapp a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fffedb;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.whatsapp a:hover {
    transform: scale(1.1);
    /* Escala de 1.1 no hover */
}

.whatsapp a:hover::before {
    width: 100%;
    left: 0;
}