header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.047);
    backdrop-filter: blur(20px);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    position: fixed;
    border-bottom: 1px solid #fffedb;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

header .nav-bar a {
    color: #fffedb;
    text-decoration: none;
    margin: 0px 15px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    font-size: 18px;
    transition: opacity 0.1s ease-in-out;
}

header .nav-bar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fffedb;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.35s ease-in-out;
}

header .nav-bar a:hover {
    opacity: 0.7;
}

header .nav-bar a:hover::after {
    transform: scaleX(1);
}

@media (max-width: 600px) {
    header .nav-bar {
        display: none;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        margin: 0;
    }
}