/* Estilos para a seção de habilidades */
.habilidades {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #383939;
    padding: 20px 0;
    height: 80vh;
}

.habilidade {
    text-align: center;
}

.habilidade img {
    width: 200px ;
    height: auto;
    color: #149c68;
    padding: 10px; /* Espaçamento interno */
}

.habilidade p {
    color: #149c68;
    margin-top: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;

}
