/* Classes */

.section_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background: linear-gradient(60deg, #383939 50%, #149c68 50%);
}

.texto_inicial {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.text {
    font-size: 4em;
    letter-spacing: 10px;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    width: 0;
    text-align: justify;
    color: #fffedb;
}

.text:nth-child(1),
.text:nth-child(2) {
    width: 100%;
    opacity: 0;
    animation: type 2.3s, cursor .4s step-end infinite alternate;
    animation-fill-mode: forwards;
}

.text:nth-child(1) {
    font-size: 2em;
}

.text:nth-child(2) {
    animation-delay: 0.8s;
    font-size: 5em;
}

.text:nth-child(3) {
    width: 90%;
    opacity: 0;
    animation: type 2.5s, cursor .4s step-end infinite alternate;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    border-right: 5px solid;
    font-size: 2.5em;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button {
    background-color: #149c68;
    color: #fffedb;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    margin-right: 15px;
    animation: bounce 1s infinite alternate;
    transition: transform 0.3s;
}

.social-button i {
    font-size: 30px;
}

.social-button:nth-child(2) {
    animation-delay: 0.8s;
}

.imagem_inicial {
    max-width: 100%;
    height: auto; 
}

/* Responsividade */

@media (max-width: 1050px) {
    
    .texto_inicial {
        width: 100%;
    }
    .imagem_inicial{
        display: none;
    }
    .section_inicio{
        background: linear-gradient(60deg, #383939 70%, #149c68 30%);

    }
}

/* Keyframes */
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes type {
    0% {
        width: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}
